You reserved a mailrail.<br />
<br />
text:<%= @mailr.remind_str %><br />
time:about <%= @mailr.sending_at %><br />
<br />
<br />
;) We are mailrail.c, a simple mail reminder.<br />
<a href='https://mailrail-c.herokuapp.com/'>https://mailrail-c.herokuapp.com/</a><br />
Have a good dream <3<br />
<br />
If you didn't do it, ignore them, and please contact us.<br />
Sorry.<br />